{{!< default}}
<div>
	<!-- <div class="jumbotron"><img src="/images/logo.svg" width="160"> -->
	<div class="container-initial">
		<div class="container intro">
			<h1>HELLO</h1>
			<p>I'm Prajith Maniyan. I'm first a Software Developer, then a web developer. I design beautiful, engaging and intuitive user interfaces on the web. </p>
		</div>
	</div>

</div>
