{{!< default}}
<div>
	<!-- <div class="jumbotron"><img src="/images/logo.svg" width="160"> -->
	<div class="container-initial">
		<div class="container intro">
			<h1>Welcome</h1>
			<p>You have entered the personal space of Prajith Maniyan Poosappadi. It is time you get to know about me, personally and professionally.</p>
		</div>
	</div>

</div>
