<!DOCTYPE html>
<html>
  <head>
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <br>

    <!-- <div class="container-initial">
      <div class="container intro"> -->
      <!-- <div> -->
        <ul class="slides">
            <input type="radio" name="radio-btn" id="img-1" checked />
            <li class="slide-container">
        		<div class="slide">
        			<img src="/images/IMG_4765.JPG"/>
                </div>
        		<div class="nav">
        			<label for="img-4" class="prev">&#x2039;</label>
        			<label for="img-2" class="next">&#x203a;</label>
        		</div>
            </li>

            <input type="radio" name="radio-btn" id="img-2" />
            <li class="slide-container">
                <div class="slide">
                  <img src="/images/IMG_20150708_125002-min.jpg" />
                </div>
        		<div class="nav">
        			<label for="img-1" class="prev">&#x2039;</label>
        			<label for="img-3" class="next">&#x203a;</label>
        		</div>
            </li>

            <input type="radio" name="radio-btn" id="img-3" />
            <li class="slide-container">
                <div class="slide">
                  <img src="/images/IMG_8477.JPG" />
                </div>
        		<div class="nav">
        			<label for="img-2" class="prev">&#x2039;</label>
        			<label for="img-4" class="next">&#x203a;</label>
        		</div>
            </li>

            <input type="radio" name="radio-btn" id="img-4" />
            <li class="slide-container">
                <div class="slide">
                  <img src="/images/IMAG0272.jpg" />
                </div>
        		<div class="nav">
        			<label for="img-3" class="prev">&#x2039;</label>
        			<label for="img-1" class="next">&#x203a;</label>
        		</div>
            </li>

            <!-- <input type="radio" name="radio-btn" id="img-5" />
            <li class="slide-container">
                <div class="slide">
                  <img src="http://farm9.staticflickr.com/8055/8098750623_66292a35c0_z.jpg" />
                </div>
        		<div class="nav">
        			<label for="img-4" class="prev">&#x2039;</label>
        			<label for="img-6" class="next">&#x203a;</label>
        		</div>
            </li>

            <input type="radio" name="radio-btn" id="img-6" />
            <li class="slide-container">
                <div class="slide">
                  <img src="http://farm9.staticflickr.com/8195/8098750703_797e102da2_z.jpg" />
                </div>
        		<div class="nav">
        			<label for="img-5" class="prev">&#x2039;</label>
        			<label for="img-1" class="next">&#x203a;</label>
        		</div>
            </li> -->

            <li class="nav-dots">
              <label for="img-1" class="nav-dot" id="img-dot-1"></label>
              <label for="img-2" class="nav-dot" id="img-dot-2"></label>
              <label for="img-3" class="nav-dot" id="img-dot-3"></label>
              <label for="img-4" class="nav-dot" id="img-dot-4"></label>
              <!-- <label for="img-5" class="nav-dot" id="img-dot-5"></label>
              <label for="img-6" class="nav-dot" id="img-dot-6"></label> -->
            </li>
        </ul>

      <!-- </div> -->
      <!-- </div>
    </div> -->

    <section class="well6 content-section content-module-M Quoteone col-md-10 col-sm-10" id="Quoteone" data-info="white">
        <div class="container">
            <h3>You could knock my door at location given below.</h3>
            Please click on the marker for the complete address.
        </div>
    </section>
    <br><br>
    <div id="map"></div>
    <br><br>

    <section class="well6 content-section content-module-M Quoteone col-md-10 col-sm-10" id="Quoteone" data-info="white">
            <div class="container">

                <div class="row">
                    <div class="col-md-10 col-sm-12 col-xs-12 row">
                        <blockquote class="quote">


                            <div class="quote_cnt__no-flow text-left">

                                <p></p><p><span class="Testimonial-Quote">"The 3 reasons I am still breathing are Manchester United, Game of Thrones and Movies."</span></p><p></p>

                                <div class="author_name">

                                    <cite>Prajith Maniyan</cite>

                                    <div class="small_text">Creator of this page.
                                    </div>



                                </div>
                            </div>
                        </blockquote>
                    </div>
                </div>
            </div>
        </section>


    <br>
    <div id="container">
        <div class="left_container">
            <img class="img-center" src="/images/man-utd.jpg">
        </div>
        <div class="right_container">
            <img class="img-center" src="/images/GOT.jpg">
        </div>
        <div class="center_container">
            <img class="img-center" src="/images/Movies.jpg">
        </div>
    </div>
    <script>
      function initMap() {
        var uluru = {lat: -37.7927560, lng: 144.8952790};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 17,
          center: uluru
        });

        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });

        var contentString = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<div id="bodyContent">'+
            '<p><b>1/112 Ballarat Road, Footscray, VIC-3011.</b> ' +
            'Home to the 16-17 Footy Premiership Winners, Western Bulldogs' +
            '</p>'+
            '</div>'+
            '</div>';

        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYNqtR2RJBsq44d31RZe2Znch8_SX4RXM&callback=initMap">
    </script>
  </body>
</html>
