<!DOCTYPE html>
<html>
  <head>
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>

    <!-- <div class="bg-2">
      <h3>What Am I?</h3>
      <p>Lorem ipsum..</p>
    </div> -->

    <section class="about" style="backgroun: url("") right bottom no-repeat;">
      <div class="row">
        <div class="col-sm-12 col-lg-4">
          <h3>-- I am Prajith Maniyan, first a software developer, now majorly a web developer.</h3>
          <p>
            I've always been fascinated by various web applications we have today.
            The overlap between design and development is the beautiful part in web
            development. My skills are broad: from front end to back end development.
            I enjoy each aspect, and love building sites and apps from start to finish.
          </p>
        </div>
        <div class="col-sm-12 col-lg-1"></div>
        <div class="col-sm-12 col-lg-3">
            <h3>What I do?</h3>
            <p>for those who don't have time to look at the animation below</p>
            <dl>
              <dt>Front-end</dt>
              <dd>HTML, CSS3, Bootstrap, Javascript, jQuery, React, Redux</dd>
              <dt>Back-end</dt>
              <dd>NodeJS, Rest APIs, SQL, PostgreSQL, NoSQL</dd>
              <dt>CMS</dt>
              <dd>KeystoneJS</dd>
              <dt>Cloud</dt>
              <dd>AWS (basic), Firebase (basic)</dd>
            </dl>
        </div>
        <div class="col-sm-12 col-lg-1"></div>
        <div class="col-sm-12 col-lg-3">
          <h4>My everyday playlist</h4>
          <iframe src="https://open.spotify.com/embed/user/spotifycharts/playlist/37i9dQZEVXbJPcfkRz0wJ0" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
        </div>
      </div>
    </section>

    <div class="anim">
      <link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />
      <h1>My Skills are:
        <span
           class="txt-rotate"
           data-period="2000"
           data-rotate='[ "Javascript", "Node.js", "React.js", "Redux", "HTML", "CSS", "Bootstrap", "jQuery", "C/C++", "Java", "MongoDB", "CouchDB", "MySQL", "Python" ]'></span>
      </h1>
      <!-- <h2>A single &lt;span&gt; is all you need.</h2> -->
    </div>
    <!-- <div class="container-initial">
      <div class="container intro"> -->
      <!-- <div> -->
      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">Coming</a>
        <a href="#">Soon</a>
        <a href="javascript:void(0)" onclick="openContactNav()">Click</a>
      </div>

      <div id="mySidenavRight" class="sidenav" style="right:0px;">
        <a href="javascript:void(0)" class="closebtn" onclick="closeContactNav()">&times;</a>
        <a href="#">Coming</a>
        <a href="#">Soon</a>
        <!-- <a href="#">Clients</a> -->
      </div>



      <span>&nbsp; </span>


      <!-- REMEMBER REMEMBER REMEMBER REMEMBERREMEMBER  REMEMBER REMEMBERREMEMBER REMEMBER REMEMBER REMEMBERREMEMBER  -->
      <!-- <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Click Me</span> -->






      <div class="container resume">
          <a href="prajith_resume_latest3.pdf" download>
            <i class="fa fa-download fa-5x download"></i>

          </a>
      </div>
      <h3 class="resume2">Click to download my CV</h3>

    <div class="container">

      <!-- <div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">
          <button class="w3-bar-item w3-button w3-large"
          onclick="w3_close()">Close &times;</button>
          <a href="#" class="w3-bar-item w3-button">Link 1</a>
          <a href="#" class="w3-bar-item w3-button">Link 2</a>
          <a href="#" class="w3-bar-item w3-button">Link 3</a>
      </div> -->

        <div class="well6 content-section content-module-M Quoteone col-md-10 col-sm-10" id="Quoteone" data-info="white">
              <div class="container">

                  <div class="row">
                      <div class="col-md-10 col-sm-12 col-xs-12 row">
                          <blockquote class="quote">


                              <div class="quote_cnt__no-flow text-left">

                                  <p></p><p><span class="Testimonial-Quote">Pictures of myself at Grampians, and at my masters graduation ceremony.</span></p><p></p>

                                  <div class="author_name">

                                      <!-- <cite>Prajith Maniyan</cite>

                                      <div class="small_text">Creator of this page.
                                      </div> -->



                                  </div>
                              </div>
                          </blockquote>
                      </div>
                  </div>
              </div>
          </div>

        <!-- <div class="center-div"> -->
          <ul class="slides">
              <input type="radio" name="radio-btn" id="img-1" checked />
              <li class="slide-container">
          		<div class="slide">
          			<img src="/images/IMG_4765-min.JPG"/>
                  </div>
          		<div class="nav">
          			<label for="img-2" class="prev">&#x2039;</label>
          			<label for="img-2" class="next">&#x203a;</label>
          		</div>
              </li>

              <input type="radio" name="radio-btn" id="img-2" />
              <li class="slide-container">
                  <div class="slide">
                    <img src="/images/IMG_8477.JPG" />
                  </div>
          		<div class="nav">
          			<label for="img-1" class="prev">&#x2039;</label>
          			<label for="img-1" class="next">&#x203a;</label>
          		</div>
              </li>

              <!-- <input type="radio" name="radio-btn" id="img-3" />
              <li class="slide-container">
                  <div class="slide">
                    <img src="/images/IMG_8477.JPG" />
                  </div>
          		<div class="nav">
          			<label for="img-2" class="prev">&#x2039;</label>
          			<label for="img-1" class="next">&#x203a;</label>
          		</div>
              </li> -->

              <li class="nav-dots">
                <label for="img-1" class="nav-dot" id="img-dot-1"></label>
                <label for="img-2" class="nav-dot" id="img-dot-2"></label>
                <!-- <label for="img-3" class="nav-dot" id="img-dot-3"></label> -->
              </li>
          </ul>
        <!-- </div> -->
    </div>

    <div class="container">
      <div class="well6 content-section content-module-M Quoteone col-md-10 col-sm-10" id="Quoteone" data-info="white">
            <div class="container">

                <div class="row">
                    <div class="col-md-10 col-sm-12 col-xs-12 row">
                        <blockquote class="quote">


                            <div class="quote_cnt__no-flow text-left">

                                <p></p><p><span class="Testimonial-Quote">You could knock my door at location given below.</span></p><p></p>

                                <div class="author_name">

                                    <!-- <cite>Prajith Maniyan</cite>

                                    <div class="small_text">Creator of this page.
                                    </div> -->



                                </div>
                            </div>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
          <br><br>
        <!-- </div> -->
        <br><br>

        <div id="map"></div>
        <br>
    </div>

    <div class="container">
      <div class="well6 content-section content-module-M Quoteone col-md-10 col-sm-10" id="Quoteone" data-info="white">
            <div class="container">

                <div class="row">
                    <div class="col-md-10 col-sm-12 col-xs-12 row">
                        <blockquote class="quote">


                            <div class="quote_cnt__no-flow text-left">

                                <p></p><p><span class="Testimonial-Quote">My life in a few words.</span></p><p></p>

                                <div class="author_name">

                                    <!-- <cite>Prajith Maniyan</cite>

                                    <div class="small_text">Creator of this page.
                                    </div> -->



                                </div>
                            </div>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-7 col-sm-7 lol">
            <img src="/images/keep_calm.jpg">
        </div>
        <div class="col-md-5 col-sm-5 intro">
            <h3>I Hate Programming.</h3>
            <h3>I Hate Programming.</h3>
            <h3>It works.</h3>
            <h3>I <i class="fa fa-heart fa-3x" aria-hidden="true"></i> Programming.</h3>
        </div>


    </div>

    <!-- <div class="container">
      <div class="well6 content-section content-module-M Quoteone col-md-10 col-sm-10" id="Quoteone" data-info="white">
          <div class="container">
              <h3>Master's Graduate from University of Melbourne</h3>
              Proudest moment of my life. Bragging rights.
              Best not to reveal my academic score. At the end of the day, skills are more important than test scores.
          </div>
      </div>
      <div class="degree_img">
          <img src="/images/degree.jpg" />
      </div>
    </div> -->
    <br>



    <script>

    /* Side Bar */

    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }

    function openContactNav() {
        document.getElementById("mySidenavRight").style.width = "250px";
    }

    function closeContactNav() {
        document.getElementById("mySidenavRight").style.width = "0";
    }

    // function openLeftMenu() {
    //     document.getElementById("leftMenu").style.display = "block";
    // }
    // function closeLeftMenu() {
    //     document.getElementById("leftMenu").style.display = "none";
    // }
    //
    // function openRightMenu() {
    //     document.getElementById("rightMenu").style.display = "block";
    // }
    // function closeRightMenu() {
    //     document.getElementById("rightMenu").style.display = "none";
    // }

    /* sidebar done */

      /* This is for typing animation */
            var TxtRotate = function(el, toRotate, period) {
            this.toRotate = toRotate;
            this.el = el;
            this.loopNum = 0;
            this.period = parseInt(period, 10) || 2000;
            this.txt = '';
            this.tick();
            this.isDeleting = false;
            };

            TxtRotate.prototype.tick = function() {
            var i = this.loopNum % this.toRotate.length;
            var fullTxt = this.toRotate[i];

            if (this.isDeleting) {
              this.txt = fullTxt.substring(0, this.txt.length - 1);
            } else {
              this.txt = fullTxt.substring(0, this.txt.length + 1);
            }

            this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

            var that = this;
            var delta = 300 - Math.random() * 100;

            if (this.isDeleting) { delta /= 2; }

            if (!this.isDeleting && this.txt === fullTxt) {
              delta = this.period;
              this.isDeleting = true;
            } else if (this.isDeleting && this.txt === '') {
              this.isDeleting = false;
              this.loopNum++;
              delta = 500;
            }

            setTimeout(function() {
              that.tick();
            }, delta);
            };

            window.onload = function() {
            var elements = document.getElementsByClassName('txt-rotate');
            for (var i=0; i<elements.length; i++) {
              var toRotate = elements[i].getAttribute('data-rotate');
              var period = elements[i].getAttribute('data-period');
              if (toRotate) {
                new TxtRotate(elements[i], JSON.parse(toRotate), period);
              }
            }
            // INJECT CSS
            var css = document.createElement("style");
            css.type = "text/css";
            css.innerHTML = ".txt-rotate > .wrap { border-right: 0.08em solid #666 }";
            document.body.appendChild(css);
            };

      /* This id for maps */

      function initMap() {
        var uluru = {lat: -37.89609900000001, lng: 145.07816939999998};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 17,
          center: uluru
        });

        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });

        var contentString = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<div id="bodyContent">'+
            '<p><b>1/14 Arthur St, Hughesdale, VIC-3166</b> ' +
            '</p>'+
            '</div>'+
            '</div>';

        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYNqtR2RJBsq44d31RZe2Znch8_SX4RXM&callback=initMap">
    </script>
  </body>
</html>
